<h1>Users#new</h1>

<%= form_for @user, class:  'new-user-form' do |f|%>

  <%= f.label :username %>
  <%= f.text_field :username %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>
  <%= f.password_field :password_confirmation %>
  <%= f.submit %>
<% end %>
