<!-- Marvel: Tap It -->

<body id="wrapper">

  <nav>
    <div class="logo">
      <h1>Marvel: TapiT</h1>
    </div>
  </nav>

  <div class="container">

    <div class="twelve columns">
      <button type="button" name="button" class="play">Play!</button>

      <a href="/users/show"><button type="button" name="button" class="newGame">New Game</button></a>
    </div>

    <div id="hero-list">

      <h4>Select a Hero</h4>

    <!-- start hidden div for player 1 selection -->
      <div class="six column selected-hero">

      </div>
    <!-- end hidden div for player 1 selection

    <!-- start row 1 of heroes -->
      <div class="row">
        <div class="four columns">
          <%= image_tag("black_widow.jpg", class:"hero-thumb", data: { 'character' => 1009189, 'filename' => '/assets/black_widow.jpg'}) %>
        </div>

        <div class="four columns">
          <%= image_tag("captain_america.jpg", class:"hero-thumb", data: { 'character' => 1009220, 'filename' => '/assets/captain_america.jpg'}) %>
        </div>

        <div class="four columns">
          <%= image_tag("elektra.jpg", class:"hero-thumb", data: { 'character' => 1009288, 'filename' => '/assets/elektra.jpg'}) %>
        </div>
      </div>
    <!-- end row 1 of heroes -->

    <!-- start row 2 of heroes -->
      <div class="row">
        <div class="four columns">
          <%= image_tag("hulk.jpg", class:"hero-thumb", data: { 'character' => 1009351, 'filename' => '/assets/hulk.jpg'}) %>
        </div>

        <div class="four columns">
          <%= image_tag("iron_man.jpg", class:"hero-thumb", data: { 'character' => 1009368, 'filename' => '/assets/iron_man.jpg'}) %>
        </div>

        <div class="four columns">
          <%= image_tag("storm.jpg", class:"hero-thumb", data: { 'character' => 1009629, 'filename' => '/assets/storm.jpg'}) %>
        </div>
      </div>
    <!-- end row 2 of heroes -->

    <!-- start row 3 of heroes -->
      <div class="row">
        <div class="four columns">
          <%= image_tag("thor.jpg", class:"hero-thumb", data: { 'character' => 1009664, 'filename' => '/assets/thor.jpg'}) %>
        </div>

        <div class="four columns">
          <%= image_tag("wolverine.jpg", class:"hero-thumb", data: { 'character' => 1009718, 'filename' => '/assets/wolverine.jpg'}) %>
        </div>

        <div class="four columns">
          <%= image_tag("rocket_racoon.jpg", class:"hero-thumb", data: { 'character' => 1010744, 'filename' => '/assets/rocket_racoon.jpg'}) %>
        </div>
      </div>
    <!-- end row 3 of heroes -->
    </div>  <!-- end div id="hero-list" -->


    <div id="nemesis-list">

      <h4>Select a Nemesis</h4>

    <!-- start hidden div for player 2 selection -->
      <div class="six column selected-nemesis">

      </div>
    <!-- end hidden div for player 2 selection -->

    <!-- start row 1 of nemeses -->
      <div class="row">
        <div class="four columns">
          <%= image_tag("apocalypse.jpg", class:"nemesis-thumb", data: { 'character' => 1009156, 'filename' => '/assets/apocalypse.jpg'}) %>
        </div>

        <div class="four columns">
          <%= image_tag("carnage.jpg", class:"nemesis-thumb", data: { 'character' => 1009227, 'filename' => '/assets/carnage.jpg'}) %>
        </div>

        <div class="four columns">
          <%= image_tag("doctor_doom.jpg", class:"nemesis-thumb", data: { 'character' => 1009281, 'filename' => '/assets/doctor_doom.jpg'}) %>
        </div>
      </div>
    <!-- end row 1 of nemeses -->

    <!-- start row 2 of nemeses -->
      <div class="row">
        <div class="four columns">
          <%= image_tag("loki.jpg", class:"nemesis-thumb", data: { 'character' => 1009407, 'filename' => '/assets/loki.jpg'}) %>
        </div>

        <div class="four columns">
          <%= image_tag("magneto.jpg", class:"nemesis-thumb", data: { 'character' => 1009417, 'filename' => '/assets/magneto.jpg'}) %>
        </div>

        <div class="four columns">
          <%= image_tag("mandarin.jpg", class:"nemesis-thumb", data: { 'character' => 1009421, 'filename' => '/assets/mandarin.jpg'}) %>
        </div>
      </div>
    <!-- end row 2 of nemeses -->

    <!-- start row 3 of nemeses -->
      <div class="row">
        <div class="four columns">
          <%= image_tag("mystique.jpg", class:"nemesis-thumb", data: { 'character' => 1009465, 'filename' => '/assets/mystique.jpg'}) %>
        </div>

        <div class="four columns">
          <%= image_tag("ultron.jpg", class:"nemesis-thumb", data: { 'character' => 1009685, 'filename' => '/assets/ultron.jpg'}) %>
        </div>

        <div class="four columns">
          <%= image_tag("red_skull.jpg", class:"nemesis-thumb", data: { 'character' => 1009535, 'filename' => '/assets/red_skull.jpg'}) %>
        </div>
      </div>
    <!-- end row 3 of nemeses -->

  </div>  <!-- end div id="nemesis-list" -->

  </div>  <!-- end div class="container" -->

  <!-- <footer>
    <p>oh my stars and garters!</p>
  </footer> -->

</body>
